* {margin: 0; padding: 0;}

body{
    font-family: sans-serif;
}
p{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}
.nameandcontacts_phone{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.h4phone{
    padding-right: 61px;
}
.heading1{
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color: #1f3f68;
    line-height: 74px;
    letter-spacing: 0.04cm;
    margin-bottom: 32px;
}
.punderh1{
    width: 425px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.heading2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    display: flex;
    width: 50%;
    justify-content: start;
    float: left;
}
.heading3{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
}
.heading4{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68; 
    margin-bottom: 14px;
}
.inputtext{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.but{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16,112,117,0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

/*divs cont*/


.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;

}
.content{
    padding-top: 64px;
}

.info{
    float: left;
    width: 30%;
    height: 400px;
    padding-top: 25px;
}
.message{
    border: 2px solid red;
    height: 400px;
    padding: 25px;
}
.footer{
    height: 657px;
    background: #316099;

}
.rights{
    padding-top: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    
}
.what_we_do{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 113px;
    padding-right: 113px;

}
.what_we_do_item{
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.upper_footer{ 
    display: flex;
    justify-content: space-between;     
}
.h3upper_footer{
    width: 340px;
    display: flex;
    justify-content: start;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-top: 91px;
    padding-bottom: 32px;
    text-align: left;
    
}
.footer_text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 96px;
    
}
.footer_upper_block{
    width: 495px;
    
}
.top_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}
.footer_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    display: inline-block;
    text-decoration: none;
    margin-right: 114px;
    margin-top: 165px;
    margin-bottom: 170px;
}
.hr_bot{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin-bottom: 64px;
}
.add_point_list{
    display: flex;
    text-align: left;
    
}
.footer_list{
    display: flex;  
    justify-content: space-around;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    list-style-type:none;
}
.list{
    width: 300px;
}
.list_1{
    width: 35px;
}
.pic{
    text-align: center;
}
.map{
    text-align: center;
}

.top{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    border: 1px solid burlywood;
}
.top_info{
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(pictures/illustration.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}
.top_content_box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card__link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}
.card_img{
    align-self: center;
    margin-bottom: 51px;
}

.text_project{
    font-size: 16px;
    line-height: 26px;
    margin: 32px auto 64px;
    letter-spacing: 0.05em;
    color: #222222;
    width: 75%;
    text-align: center;

}
.project{

}

.project__img{
    width: 100%;

}
.project__text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;

}

.project__text_mini{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.project__item{
    position: relative;
    flex-grow: 1;

}
.project__parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 112px;
}

.project__item_marg{
    margin-right: 32px;
}

@media (max-width: 1024px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .top_info{
        background-position: right 250px;
    }
    .what_we_do{
        flex-direction: column;
        align-items: center;
    }
    .what_we_do_item{
        margin-bottom: 32px;
    }
    .project__parent{
        margin-bottom: 109px;
    }
    .footer_upper_block{
        width: 336px;
    }
    .h3upper_footer{
        padding-top: 47px;
    }
    .footer_text{
        padding-bottom: 64px;
    }
    .footer_button{
        padding: 3px 10px 10px 10px;
        margin-bottom: 139px;
        margin-top: 161px;
        margin-right: 80px;
        width: 150px;
        margin-left: 51px;
    }
    .footer_list{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 92px;
    }
    .add_point_list{
        margin-bottom: 25px;
    }
    .list{
        width: 500px;
    }
    .upper_footer{
        padding-left: 92px;
    }
    .rights{
        padding-left: 92px;
        padding-top: 39px;
    }
}

@media (max-width: 667px){


    .top{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .menu{
        padding-top: 24px;
    }
    .top_info{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .heading1{
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }
    .punderh1{
        width: 100%;
        text-align: center;
    }
    .top_button{
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;   
    }
    .heading3{
        font-size: 24px;
        line-height: 28px;
    }
    .content{
        padding-top: 48px;
    }
    .what_we_do{
        padding-top: 32px;
    }
    .what_we_do_item{
        width: 100%;
    }
    .text_project{
        width: 100%;
    }
    .project__text{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .project__text_mini{
        left: 16px;
        font-size: 16px;
        line-height: 19px;
    }
    .project__parent{
        flex-direction: column;
        margin-top: 16px;
        margin-bottom: 64px;
    }
    .project__item_marg{
        margin-right: 0;
        margin-bottom: 16px;
    }
    .footer_upper_block{
        align-items: center;
        width: 100%;
    }
    .h3upper_footer{
        width: 100%;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        padding-bottom: 0;
        padding-top: 32px;
        display: flex;
        justify-content: start;
    }
    .footer_text{
        width: 100%;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 0;
    }
    .upper_footer{
        padding: 0;
        flex-direction: column;
        align-items: center;
    }    
    .footer_button{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.04em;
        margin: 0;

color: #FFFFFF;
        width: 108px;
        margin-top: 40px;
        margin-bottom: 41px;
    }
    .footer_list{
        padding: 0;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
    .list{
        max-width: 300px;
    }
    .hr_bot{
        width: 100%;
        margin-bottom: 32px;
    }
    .rights{
        width: 100%;
        padding: 0;
        text-align: center;
        padding-top: 37px;
    }
    

}